.c-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
     align-items: center;
 }
.c-card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
     align-items: center;
    width: 80%;
    height: 5rem;
    margin-top: 2rem;
    color: #ECEFF1;
}
